/* 1. mobile (480px ~ 767px) */ 
@media all and (max-width:767px) {
	
	.pc {
		display: none !important ;
	}
    .wrap2 { 
        width: 90vw; 
        margin: 0 13px 0 auto; 
    }   

/* __________________ 헤더 __________________ */
header.video {
    box-sizing: border-box;
}
header .wrap2 {
    display: flex;
    justify-content: center;
    z-index: 9999;
}
/* 햄버거메뉴 */
.ham_menu {
    position: absolute;
    left: 5vw;
    z-index: 99999;
    display: block;
    width: 46px;
    height: 46px;
    box-sizing: border-box;
    top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}
.ham {
    width: 30px;
    height: 2px;
    background-color: #ccc;
    display: block;
    transition: all 0.3s ease-in-out;
}
.ham_menu.close {
    padding: 0;
}

.ham_menu.close #ham_top {
    transform: translateY(15px) rotate(45deg);
}
.ham_menu.close #ham_middle {
    opacity: 0;
}
.ham_menu.close #ham_bottom {
    transform: translateY(-15px) rotate(-45deg);
}
/* 메뉴화면 */
.m_menu_wrap {
    width: 100%;
    height: calc(100% - 70px - 50px);
    position: fixed;
    top: 70px;
    background: rgba(255,255,255,1);
    z-index: 999;
    transition: 0.4s;
    display: none;
    overflow: hidden;
    padding-top: 50px;
    box-sizing: border-box;
}
.m_menu_wrap.act {
    display: block;
}
/* 해상도설정 */
header.video .video_resolution {
    margin-top: 20px;
    position: absolute;
    top: 60px;
    right: 0px;
    z-index: 9999;
    display: none;
}
.video_resolution.act {
    display: block !important;
}
/* 메뉴리스트 */
.m_menu_form {
    height: calc(100%);
    overflow: auto;
}
.m_menu_form::-webkit-scrollbar {
    display: none;
}
.m_menu_list {
    border-top: 1px solid #d8d8d8;
}
.m_menu_list li {
    height: 60px;
    border-bottom: 1px solid #d8d8d8;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 20px center;
}
.m_menu_list li:nth-child(1) {
    background-image: url(../images/m_all.svg);
}
.m_menu_list li:nth-child(2) {
    background-image: url(../images/m_speaker.svg);
}
.m_menu_list li:nth-child(3) {
    background-image: url(../images/m_full.svg);
}
.m_menu_list li:nth-child(4) {
    background-image: url(../images/m_lock.svg);
}
.m_menu_list li:nth-child(5) {
    background-image: url(../images/m_lang.svg);
}
.m_menu_list li a {
    line-height: 60px;
    display: block;
    width: 100%;
    padding-left: 70px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}


header.video h1 {
    height: 70px;
    width: 150px;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    align-items: center;
}
header.video .video_btn .chat_leave {    
    display: block;
    width: 46px;    
    height: 46px;
    background-image: url(../images/video_icon_leave.svg);
    background-size: 70%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: center;
}
/* 바로가기버튼 */
.direct {
    position: fixed;
    /* left: 3%; */
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #141617;
    box-sizing: border-box;
    z-index: 9999;
    /* box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) */
}
.m_direct {
    display: flex;
    align-items: center;
    justify-content: center;
}
.m_direct li {
    width: 20%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.m_direct li a {
    display: block;
    width: 46px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    background-color: transparent;
    background-clip: content-box;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
}   
.m_micset {
    background-image: url(../images/m_mic.svg);
}
.m_camset {
    background-image: url(../images/m_cam.svg);
}
.m_people {
    background-image: url(../images/m_people.svg);
}   
.m_hand {
    background-image: url(../images/m_hand.svg);
}   
.m_chat {
    background-image: url(../images/m_chat.svg);
}
/* 바로가기 act 모드 */   
.m_micset.act {
    background-image: url(../images/m_micoff.svg);
}
.m_camset.act {
    background-image: url(../images/m_camoff.svg);
}
.m_hand.act {
    background-image: url(../images/m_handred.svg);
}   
.m_people.act {
    background-color: #fff;
    width: 100%;
    background-image: url(../images/m_peopleon.svg);
}
.m_chat.act {
    background-color: #fff;
    width: 100%;
    background-image: url(../images/m_chaton.svg);
}
/* 탭_채팅창 */
.video_info {
    width: 100%;
    height: calc(100% - 0px - 50px);
    top: 0px;
    display: none;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 99999;
    background: #141617;
    padding-top: 10px;
}
.video_info.show {
    display: block;
}
.video_info.show .info_cont {     
    display: none;
}
.video_info.show .info_cont.show {
    display: block;
    left: 0px;
    top: 0;
    height: 100%;
}
.info_cont.off .chat_screen {
    height: calc(100% - 50px - 60px);
    padding-bottom: 5px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}
.info_cont > h3 {
    padding-left: 16px;
}
.file_btn {
   left: 10px;
}
.tts_set.move {
    left: 62px;
}
.video_info .chat_cont .chat_window .chat_input {
    width: 80%;
    height: 36px;
    margin-left: 10px;
}
.m_close {
    display: block;
    width: 46px;
    height: 46px;
    background: rgba(255, 255, 255, 0) url(../images/wb_icon_close.svg) no-repeat center/70%;
    border-radius: 10px;
    position: absolute;
    right: 10px;
    top: 2px;
    z-index: 10;
}
.parti_cont {
    display: none;
    height: 35%;
    background: #141617;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    border-bottom: 1px solid #2c3033;
}
.video_info.show .parti_cont.show {
    display: flex;
}
.info_set:before {
    left: 224px;
}
.info_listcont {
    height: calc(100% - 140px);
}
/* 첨부파일 */
.filelist_cont {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: #141617;
    border-right: 1px solid #2c3033;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    transition: .6s;
    z-index: 10;
    border-right: none;
    border-bottom: 1px solid #333;
    height: calc(100% - 0px);
}
.filelist_cont.off {
    left: -100%;
}
.filelist_cont h3 {
    width: 100%;
    text-align: center;
    height: 56px;
    line-height: 56px;
    font-size: 16px;
    font-weight: bold;
    transform: skew(-0.03deg);
    box-sizing: border-box;       
}
.file_btn {
    width: 46px;
    height: 46px;
    background-image: url(../images/close_btn_mob.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;  /* 수정 0524 */
    top: 5px;
    left: 10px;
    position: absolute;
    display: block;
    z-index: 100;
    transition: .3s;
    opacity: 0.7;
}
.file_btn.off {
    left: 10px;
    background-image: url(../images/video_icon_clip.svg);
}
/* 수정 0601 ____ start (추가)  */
.chat_txt span.chat_time {
    right: -96px;
}
.chat_me .chat_txt .chat_time {
    left: -56px;
}











/* Mobile __Style__End */ }




/* 2. tablet (768px ~ 1023px) */
@media all and (min-width:768px) and (max-width:1023px) {
    .mob {
		display: none !important ;
	}
    
    
    
/* tablet __Style__End */ }




/* 3. PC (1024px) */ 
@media all and (min-width:1024px) {
    .mob {
		display: none !important ;
	}
    
    
/* Pc __Style__End */ }



@media (orientation: portrait) {
	/* Portrait 모드일 때 적용할 CSS */

}

@media (orientation: landscape) {
	/* Landscape 모드일 때 적용할 CSS */

}

